.navbar{
	border-radius: 0px;
}

.ow-sub-title{
	padding: 5px;
}

.navbar-inverse .navbar-text{
	color: #fff;
}

.pass{
	background-color: #46A728;
	color: #fff;
}

.fail{
	background-color: #D9303E;
	color: #fff;
}

.spec-width{
	max-width: 20vw;
}

.text-justify{
	text-align: justify;
}

.header{
	font-size: 1.5em;
	font-weight: bold;
}